.profile{
    margin-top: 1000px;
}

.profile-question {
    border-bottom: 1px solid #ccc; /* A light grey bottom border */
    padding-bottom: 10px; /* Some padding at the bottom for spacing */
    margin-bottom: 10px; /* Margin at the bottom to separate from the next question */
}

/* If you want to exclude the border for the last question */
.profile-question:last-child {
    border-bottom: none;
}

.chart-container {
    width: 50%;   /* Adjust the width as needed */
    height: 75%; /* Adjust the height as needed */
    margin: auto;  /* Centers the chart if the container is smaller than the parent */
  }
  
  .label-container {
    text-align: center; /* Center the text */
    margin-top: 10px; /* Optional: add some space between the chart and labels */
  }
  